name: Deploy Jenkins

on:
  push:
    branches:
      - main

jobs:
  install-helm:
    name: Install Helm and verify
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Helm
      uses: azure/setup-helm@v3
      with:
        version: 'latest'

    - name: Add Jenkins Helm repository
      run: helm repo add jenkins https://charts.jenkins.io

    - name: Update Helm repositories
      run: helm repo update

    - name: render Jenkins Helm chart
      run: helm template jenkins jenkins/jenkins --namespace jenkins